@import url('https://fonts.googleapis.com/css?family=Artifika|Cinzel');

.container {
  display: grid;
  grid-template-columns:[one] 40px [two] 50px [three] auto [four] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  background-image: url("./images/parchment.png");
  background-size: 100% 100%;
}

.basicsList {
  grid-column-start: one;
  grid-column-end: two;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:[one] auto [two] auto [three] auto [four] auto [five] auto [end];
  grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto;

}

.skillsList {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: third-line;
  grid-row-end: third-line;
}

.charName {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row1;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff

}

.charAge {
  grid-column-start: three;
  grid-column-end: four;
  grid-row-start: row1;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff
;

}

.charRace {
  grid-column-start: four;
  grid-column-end: five;
  grid-row-start: row1;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff

}

.charClass {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row2;
  grid-row-end: row3;

  background-color: black;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  width:100px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff

}

.charHeight {
  grid-column-start: three;
  grid-column-end: four;
  grid-row-start: row2;
  grid-row-end: row3;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff

}

.charSex {
  grid-column-start: four;
  grid-column-end: five;
  grid-row-start: row2;
  grid-row-end: row3;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff

}

.charInfo {
  border-style: solid;
  border-color:  #33ccff;
  border-width: 3px;
  width:100px;
  font-size: 1em;
  font-family: 'Artifika', serif;
}

.charSkill {
  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:135px;
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  color: #ffffff

}
