@import url('https://fonts.googleapis.com/css?family=Artifika|Cinzel');

.container {
  display: grid;
  grid-template-columns:[one] auto [two] auto [three] auto [four] auto [five] auto [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  background-color: url("./images/parchment.png");
  background-size: 100% 100%;
}

.inventory {
  height: 250px;
  grid-column-start: one;
  grid-column-end: two;
  grid-row-start: third-line;
  grid-row-end: third-line;
}

.basicsList {
  grid-column-start: one;
  grid-column-end: two;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
  display: grid;
  grid-template-columns:[one] auto [two] auto [three] auto [four] auto [five] auto [end];
  grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto;

}


.charName {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row1;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.charAge {
  grid-column-start: three;
  grid-column-end: four;
  grid-row-start: row1;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff
;

}

.charRace {
  grid-column-start: four;
  grid-column-end: five;
  grid-row-start: row1;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.charClass {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row2;
  grid-row-end: row3;

  background-color: black;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  width:120px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.charHeight {
  grid-column-start: three;
  grid-column-end: four;
  grid-row-start: row2;
  grid-row-end: row3;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.charSex {
  grid-column-start: four;
  grid-column-end: five;
  grid-row-start: row2;
  grid-row-end: row3;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:100px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.charInfo {
  border-style: solid;
  border-color:  #33ccff;
  border-width: 3px;
  width:100px;
  font-size: 1em;
  font-family: 'Cinzel', serif;
}

.skillsList {
  width: 50%;
  grid-column-start: two;
  grid-column-end: two;
  grid-row-start: row1-end;
  grid-row-end: third-line;
  display: grid;
  grid-template-columns:[one] auto [two] auto [three] auto [four] auto [five] auto [end];
  grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto;
}

.strength {
  grid-column-start: one;
  grid-column-end: two;
  grid-row-start: row1;
  grid-row-end: row1;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:175px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.dexterity {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row1;
  grid-row-end: row1;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:175px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.constitution {
  grid-column-start: three;
  grid-column-end: four;
  grid-row-start: row1;
  grid-row-end: row1;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:175px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.intelligence {
  grid-column-start: one;
  grid-column-end: two;
  grid-row-start: row2;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:175px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.wisdom {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row2;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:175px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.charisma {
  grid-column-start: three;
  grid-column-end: four;
  grid-row-start: row2;
  grid-row-end: row2;

  border-style: solid;
  border-color:  #000066;
  border-width: 3px;
  border-radius: 8px;

  background-color: black;

  width:175px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffffff

}

.closeButton{
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.closeButton:hover {
  background-color: #ff0000;
  color: white;
}

.inventorybutton{
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.inventorybutton:hover {
  background-color: green;
  color: white;
}

.spellsbutton{
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.spellsbutton:hover {
  background-color: #0033cc;
  color: white;
}

.weaponsbutton{
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.weaponsbutton:hover {
  background-color: #ff0080;
  color: white;
}

.buttons {
  grid-column-start: two;
  grid-column-end: three;
  grid-row-start: row1;
  grid-row-end: row1;
}
