@import url('https://fonts.googleapis.com/css?family=Artifika|Cinzel');

.removeCharacter{
  font-size: 1.5em;
  font-family: 'Artifika', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.removeCharacter:hover {
  background-color: #ff0000;
  color: white;
}

.viewCharacter{
  font-size: 1em;
  font-family: 'Artifika', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.viewCharacter:hover {
  background-color: #267326;
  color: white;
}

.addSkills {
  font-size: 1.3em;
  font-family: 'Artifika', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.addSkills:hover {
  background-color: #0033cc;
  color: white;
}

.editCharacter {
  font-size: 1.3em;
  font-family: 'Artifika', serif;
  box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 5px;
}
.editCharacter:hover {
  background-color: #99ccff;
  color: white;
}

.Row {
  font-size: 1em;
  font-family: 'Cinzel', serif;
}
